@charset "UTF-8";
/* The style for the complete specs table */
#specs-list hr {
  margin: 20px 0; }

#specs-list {
  width: 727px;
  margin-bottom: 10px; }

#specs-list p {
  background: #F6F6F6;
  font-size: 13px;
  padding: 4px 6px;
  line-height: 1.5;
  color: #333; }

#specs-list p a {
  color: #7D7464;
  text-decoration: underline; }

#non-gsm p {
  color: #4B3C23;
  font-weight: bold; }

#specs-list table {
  border-top: 1px solid #E3E3E3;
  width: 100%; }

#specs-list caption {
  display: none; }

#specs-list th,
#specs-list td {
  font: 14px 'Arimo', Arial;
  padding: 2px 10px;
  vertical-align: top; }

#specs-list th {
  background: #F6F6F6;
  border-right: medium none;
  color: #B23F33;
  font: 16px "Google-Oswald", Arial;
  text-transform: uppercase;
  width: 86px; }

#specs-list td {
  background: #FAFAFA;
  border-bottom: 1px solid #f0f0f0;
  line-height: 16px; }

#specs-list td.ttl {
  color: #7D7464;
  font-weight: bold;
  width: 110px; }

#specs-list tr:last-child td {
  border-bottom: medium none; }

#specs-list td.ttl a {
  /*color: #7D7464;*/
  color: #555; }

#specs-list td.nfo ul {
  margin-left: 16px; }

#specs-list td.nfo a {
  color: #b23f33;
  text-decoration: underline; }

#specs-list td.nfo a.noUnd {
  color: #000000;
  text-decoration: none; }

#specs-list td.nfo a.noUnd:hover {
  color: #F04F40;
  text-decoration: underline; }

#specs-list td.nfo li {
  list-style-type: disc;
  padding: 1px 0; }

#all-phones ul {
  height: 178px;
  overflow: auto; }

#specs-list td.nfo {
  vertical-align: middle; }

.block {
  padding-left: 10px; }

.link-network {
  display: block;
  padding-top: 5px; }

#specs-list .tr-hover td {
  top: 0;
  padding: 3px 10px;
  transition: all 0.15s ease-out; }

#specs-list .tr-hover:hover td {
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
  background: #fff; }

#specs-list .tr-hover:hover td.ttl {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.31); }

#specs-list .tr-hover .ttl a,
#specs-list .tr-hover .nfo a {
  position: relative; }

#specs-list .tr-hover .ttl a {
  top: 3px; }

#specs-list .tr-hover .nfo a {
  top: 3px; }

#specs-list .tr-hover:hover td.ttl {
  /*box-shadow: 0px 1px 1px rgba(0,0,0,.31) ;*/ }

/* Network detail toggle in specs table */
.link-network-detail {
  display: block;
  height: 19px;
  position: relative;
  top: 2px;
  left: -1px;
  text-decoration: none !important;
  color: #333 !important; }

.link-network-detail::before,
.link-network-detail.collapse::before {
  position: absolute;
  right: -3px;
  top: 1px;
  transform: scale(1.3, 0.9);
  -webkit-transform: scale(1.3, 0.9);
  -moz-transform: scale(1.3, 0.9);
  -ms-transform: scale(1.3, 0.9);
  font: bold 10px/120% Arial, sans-serif;
  color: #999; }

.link-network-detail.collapse::before {
  top: 0; }

.link-network-detail::after,
.link-network-detail.collapse::after {
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  color: #999;
  top: 2px;
  font: bold 9px/120% Arial, sans-serif; }

.link-network-detail::after {
  content: "Collapse"; }

.link-network-detail.collapse::after {
  content: "Expand"; }

.link-network-detail::before {
  content: "\25b2"; }

.link-network-detail.collapse::before {
  content: "\25bc"; }

.link-network-detail.collapse {
  background-position: 101% -19px; }

/* phone name card */
/* NEXT LEVEL */
.specs-phone-name-title {
  float: left;
  padding-left: 10px;
  font: 300 28px/47px 'Google-Oswald', Arial, sans-serif;
  text-shadow: none;
  color: #fff;
  margin-top: -2px; }

.light .specs-phone-name-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

.review-header .article-info-line.page-specs.light {
  /* blur change */
  background: rgba(0, 0, 0, 0.096); }

.article-info-line.page-specs.light {
  background: #bbb;
  border-top: 1px solid rgba(150, 150, 150, 0.5); }

.article-info-line.border-bottom.light {
  border-top: none;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5); }

.specs-spotlight-features li.pattern:nth-child(3)::after {
  width: 122%; }

.specs-photo-main {
  float: left;
  height: 100%;
  width: 171px;
  background: #fff;
  position: relative;
  z-index: 1; }

.specs-photo-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 165px;
  width: 229px;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&amp;1+2,0+100 */
  background: -moz-linear-gradient(left, white 0%, #fcfeff 2%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(2%, #fcfeff), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, white 0%, #fcfeff 2%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, white 0%, #fcfeff 2%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, white 0%, #fcfeff 2%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, white 0%, #fcfeff 2%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  /* IE6-9 */
  z-index: 1; }

.specs-photo-main a {
  display: block;
  height: 100%;
  width: 165px;
  position: relative;
  z-index: 2;
  background: #fff; }

.specs-photo-main img {
  max-height: 100%;
  max-width: 100%;
  width: 160px;
  height: auto;
  margin-top: 3%;
  margin-left: 5px; }

.specs-spotlight-features .specs-brief {
  width: 274px;
  font-size: 15px;
  padding: 0px 10px;
  line-height: 24px;
  padding-left: 8px !important; }

.specs-spotlight-features {
  float: left;
  /*width: 557px;*/
  width: 554px;
  height: 100%; }

.specs-spotlight-features li {
  height: 98px;
  width: 137px;
  margin: 5px 0 12px;
  border-left: 1px solid #ccc;
  float: left;
  padding: 0px 10px;
  font: 300 14px "Google-Oswald", Arial, sans-serif;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4) !important;
  color: #2b2b2b;
  position: relative;
  z-index: 1; }

.specs-brief * {
  color: #2b2b2b !important; }

.specs-spotlight-features .specs-brief::after {
  top: 4px; }

.specs-spotlight-features li.pattern:nth-child(-n+3) {
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

.specs-spotlight-features li:nth-child(n+4) {
  margin-bottom: 0; }

.specs-spotlight-features li:nth-child(4),
.specs-spotlight-features .specs-brief {
  border-left: none; }

.specs-spotlight-features .accent {
  font: 400 26px "Google-Oswald", Arial, sans-serif;
  /*text-shadow: 1px 1px 0px rgba(0,0,0,.4);*/
  color: #2b2b2b;
  padding-top: 13px;
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: -2px; }

/* LIGHT */
.specs-spotlight-features .pattern {
  padding-left: 55px; }

.specs-spotlight-features .pattern .accent {
  padding-top: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }

.specs-spotlight-features .pattern strong::after {
  top: 28px;
  left: -30px;
  background-size: 26px 24px; }

.specs-spotlight-features .pattern *,
.specs-spotlight-features .pattern {
  color: #fff; }

.specs-spotlight-features a:hover,
.specs-spotlight-features a:hover * {
  color: #fff; }

.accent span {
  font-size: 21px; }

.accent ~ span {
  position: relative;
  left: -28px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  display: inline-block;
  width: 100px;
  font-weight: 400; }

.specs-brief-accent .head-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
  padding-right: 5px; }

.specs-brief-accent {
  position: relative; }

.specs-brief-accent::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -4px;
  background-repeat: no-repeat;
  background-size: 21px;
  width: 30px;
  height: 30px;
  opacity: 0.4;
  z-index: 14; }

.specs-brief-accent::after {
  top: 2px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-size: 19px; }

.accent .icon-popularity,
.accent .icon-fans {
  margin-left: -26px;
  margin-right: 5px;
  font-size: 26px; }

.specs-brief-accent .icon-os {
  font-size: 13px;
  margin-right: -1px; }

.specs-fans:hover .icon-fans,
.help-fans.active .specs-fans .icon-fans {
  color: #b23f33;
  -webkit-animation-name: smallToBig;
  -webkit-animation: smallToBig .5s alternate 3 ease;
  -moz-animation: smallToBig .5s alternate 3 ease;
  -ms-animation: smallToBig .5s alternate 3 ease; }

@-webkit-keyframes specsFans {
  10%,
  30%,
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  10% {
    color: #fff; }
  30% {
    border: 1px solid #b23f33; }
  60% {
    color: #E02512; } }

.accented .head-icon {
  font-size: 26px;
  top: 10px;
  position: relative;
  margin-left: -2px;
  color: #2b2b2b; }

.specs-fans:hover,
.specs-fans:hover strong {
  text-decoration: none; }

.article-info .center-stage.specs-accent {
  padding-left: 0 !important; }

.specs-fans {
  width: 205%;
  height: 105%;
  float: left;
  left: -55px;
  position: relative;
  padding-left: 55px;
  display: block;
  color: #2b2b2b; }

.specs-fans:hover {
  background: rgba(255, 255, 255, 0.2); }

.specs-fans strong::after {
  transition: all 0.35s ease-out; }

.specs-fans:hover strong,
.specs-fans:hover span {
  color: #f9f9f9; }

.specs-fans:hover .accent-fans::after {
  opacity: 0.7; }

.page-specs .article-info-meta-link a {
  text-shadow: none; }

.article-info-meta-link .icon-comment-count {
  font-size: 21px;
  top: 0;
  left: 0px; }

/* The yellow help windows that pop-up in the Specs Accents Box */
.help::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: lightyellow;
  border: 1px solid #888;
  color: #000;
  font: 12px/1.3 'Arimo', Arial, sans-serif;
  min-width: 60px;
  max-width: 120px;
  min-height: 35px;
  z-index: 15;
  text-shadow: none;
  text-align: center;
  text-indent: 0;
  padding: 3px; }

.help-quickfacts::before {
  content: "Quick facts";
  bottom: 2px;
  top: auto;
  left: 73%; }

.help-popularity::before {
  content: "Popularity index and phone hits"; }

.not-logged.help-fans::before {
  content: "You must be logged in to become a fan."; }

.help-display::before,
.help-camera::before,
.help-expansion::before,
.help-battery::before {
  left: 35px;
  width: 100px; }

.help-display::before {
  content: "Display size and resolution"; }

.help-camera::before {
  content: "Camera: photo and video"; }

.help-expansion::before {
  content: "RAM and chipset"; }

.help-battery::before {
  content: "Battery capacity and technology"; }

.help-review::before {
  content: "Click for our in-depth review"; }

.help-social::before {
  content: "Social sharing buttons";
  top: 4px;
  left: -132px; }

.help-social::after,
.help-display::after,
.help-camera::after,
.help-expansion::after,
.help-battery::after {
  position: absolute;
  content: "\25b6";
  top: 9px;
  left: -15px;
  z-index: 16;
  box-shadow: none;
  color: lightyellow;
  text-shadow: none;
  text-shadow: 1px 0px 1px black;
  font-size: 17px;
  -webkit-transform: scaleY(1.2);
  display: block; }

.help-display::after,
.help-camera::after,
.help-expansion::after,
.help-battery::after {
  left: 58px;
  content: "\25bc";
  -webkit-transform: scaleX(1.5);
  top: 29px;
  font-size: 15px;
  text-shadow: 0px 1px 0px #000; }

.help-expansion::after {
  top: 26px; }

.help::before,
.help::after {
  display: none; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.help-display:hover::before,
.help-camera:hover::before,
.help-expansion:hover::before,
.help-battery:hover::before,
.help-display:hover::after,
.help-camera:hover::after,
.help-expansion:hover::after,
.help-battery:hover::after,
.not-logged.help-fans::before {
  display: block;
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -webkit-animation-duration: .35;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.not-logged.help-fans::before {
  background: #fd8585;
  color: #fff;
  top: 25px;
  left: 12px; }

.not-logged.help-fans::before {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; }

.help-display:hover,
.help-camera:hover,
.help-expansion:hover,
.help-battery:hover,
.not-logged.help-fans:hover {
  cursor: help; }

/* Check prices module box on the left of the specs table. Bros, Welectronics, etc. */
/*arrows check prices*/
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(20%, 0, 0) translateX(-25px);
    transform: translate3d(20%, 0, 0) translateX(-25px);
    visibility: visible; }
  38% {
    -webkit-transform: translate3d(20%, 0, 0) translateX(3px);
    transform: translate3d(20%, 0, 0) translateX(3px); }
  99% {
    -webkit-transform: translate3d(20%, 0, 0) translateX(3px);
    transform: translate3d(20%, 0, 0) translateX(3px); }
  100% {
    display: none;
    visibility: hidden;
    -webkit-transform: translate3d(20%, 0, 0) translateX(3px);
    transform: translate3d(20%, 0, 0) translateX(3px); } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(20%, 0, 0) translateX(-25px);
    transform: translate3d(20%, 0, 0) translateX(-25px);
    visibility: visible; }
  38% {
    -webkit-transform: translate3d(20%, 0, 0) translateX(3px);
    transform: translate3d(20%, 0, 0) translateX(3px); }
  99% {
    -webkit-transform: translate3d(20%, 0, 0) translateX(3px);
    transform: translate3d(20%, 0, 0) translateX(3px); }
  100% {
    display: none;
    visibility: hidden;
    -webkit-transform: translate3d(20%, 0, 0) translateX(3px);
    transform: translate3d(20%, 0, 0) translateX(3px); } }

.module-checkprice {
  position: relative; }

.module-checkprice ul {
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.2); }

.module-checkprice li {
  padding: 0; }

.module-checkprice li strong a {
  font-weight: bold; }

.module-checkprice li a {
  font: normal 13px/150% 'Arimo', Arial, sans-serif;
  padding: 8px 5px 5px 10px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }

.module-checkprice.module-phones li a:hover {
  background: rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff; }

.module-checkprice .head-icon {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-delay: .95s;
  animation-delay: .95s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  margin-right: 10px;
  font-size: 15px;
  font-weight: normal;
  position: relative;
  top: 2px;
  display: inline-block; }

.checkprice-list {
  position: relative; }

.checkprice-list::before {
  background-size: 200% !important;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -ms-filter: blur(20px);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .82; }

/* Common styles for various pages. Gallery page, notes under the specs table, 360 Spin page, etc. */
.normal-text ul {
  margin-bottom: 20px;
  list-style-type: disc;
  list-style-position: inside; }

.main-post-comments .normal-text ul {
  font-size: 15px; }

.main-pictures p,
.normal-text {
  margin: 0 30px; }

.main-pictures p {
  margin: 50px 30px 55px 30px; }

.main-pictures h2 {
  font-size: 23px;
  font-weight: 400;
  font-family: "Arimo", 'Google-Oswald', sans-serif;
  color: #777;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 30px;
  margin-bottom: -50px; }

#gallery .normal-text {
  margin: 0; }

.main-post-comment .normal-text {
  margin: 15px 30px;
  padding: 0; }

.main-post-comment .normal-text ul {
  list-style-type: disc;
  list-style-position: inside; }

.main-spin .centerer {
  text-align: center;
  margin: 0 30px; }

.main-spin embed {
  margin-top: 30px; }

#pictures-list {
  margin-top: 30px;
  margin-bottom: 15px; }

#pictures-list hr {
  visibility: hidden; }

#gallery {
  padding: 0 30px 0 30px;
  border-top: 10px solid #f0f0f0; }

#gallery img {
  width: 138px;
  height: auto;
  border: 1px solid #f0f0f0;
  margin: 5px; }

#gallery a:hover img {
  border: 1px solid #b23f33; }

/* Amazon, XDA, More News PROMOS on the sidebar of the SPecs page */
/* MORE promo */
.module-more-promo.module-phones li {
  position: relative;
  padding: 0; }

.xda-promo {
  background: #EFBA00; }

.module-more-promo .xda-promo::after,
.module-more-promo .buy-from-amazon::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 48px;
  background: url("../i/xda-2.png") no-repeat right;
  background-size: 42px;
  left: 4px;
  top: 0px;
  z-index: 2;
  opacity: .9; }

.module-more-promo .buy-from-amazon::after {
  background: url("../i/buy-from-amazon.gif") no-repeat right !important;
  width: 39px !important; }

.module-more-promo .xda-promo a,
.module-more-promo .in-the-news-list a,
.module-more-promo .buy-from-amazon a {
  padding-left: 60px;
  position: relative;
  z-index: 3;
  top: 1px;
  border-bottom: none;
  color: #fff;
  text-shadow: 1px 1px 0 black;
  font: bold 13px/180% 'Arimo', Arial, sans-serif; }

.module-more-promo .xda-promo a:hover,
.module-more-promo .in-the-news-list a:hover,
.module-more-promo .buy-from-amazon a:hover {
  color: #fff !important; }

.module-more-promo .xda-promo a:hover::after,
.module-more-promo .in-the-news-list a:hover::before,
.module-more-promo .in-the-news-list a:hover::after {
  opacity: .955; }

.module-more-promo .in-the-news-list::after {
  font-size: 25px;
  font-family: 'gsmarena';
  content: "\e91d";
  left: 18px;
  position: absolute;
  top: 5px;
  color: #fff;
  max-height: 100%;
  overflow: hidden;
  z-index: 1; }

.in-the-news-list {
  background: #1B8428; }

.buy-from-amazon {
  background: #121212; }

/* MAIN BOX - Review Header Box and it's fallback code for people who don't support the Filter:BLUR property.*/
.review-header {
  overflow: hidden;
  position: relative; }

.review-header::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: url('http://cdn2.gsmarena.com/vv/bigpic/sony-xperia-z4v-.jpg'); 
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: -400px -510px;*/
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/20Ã¢â‚¬Â¦%20id='blur'><feGaussianBlur%20stdDeviation='30'%20/></filter></svg>#blur");
  filter: blur(30px);
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  overflow: hidden; }

.review-header.fallback::after {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to right, #1e5799 0%, #7db9e8 100%);
  /* W3C */
  /* IE6-8 */ }

.blur::after {
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/20â€¦%20id='blur'><feGaussianBlur%20stdDeviation='30'%20/></filter></svg>#blur");
  filter: blur(30px);
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px); }

/* Edge case when there's a review in the phone's PHOTOS / PICTURES page. We have to set its width manually */
.main-pictures .article-info-meta-link-review {
  width: 168px; }

/* Vote graph */
.vote-graph {
  font-size: 0.75px;
  width: 106em;
  height: 8px;
  padding: 1px;
  border: 1px solid #ccc;
  margin-left: -26px;
  margin-top: 5px; }

.vote-graph-inner {
  position: relative; }

.vote-graph-inner:after,
.vote-graph-inner:before,
.vote-graph-inner-base {
  width: 100px;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.vote-graph-inner-base {
  background-image: linear-gradient(90deg, white 19em, transparent 19em, transparent 21em, white 21em, white 39em, transparent 39em, transparent 41em, white 41em, white 59em, transparent 59em, transparent 61em, white 61em, white 79em, transparent 79em, transparent 81em, white 81em, white 100em, transparent 100em);
  background-repeat: no-repeat;
  z-index: 2;
  overflow: hidden; }

.vote-graph-inner::before {
  background-image: linear-gradient(90deg, #ddd 19em, transparent 19em, transparent 21em, #ddd 21em, #ddd 39em, transparent 39em, transparent 41em, #ddd 41em, #ddd 59em, transparent 59em, transparent 61em, #ddd 61em, #ddd 79em, transparent 79em, transparent 81em, #ddd 81em, #ddd 100em, transparent 100em);
  background-repeat: no-repeat;
  z-index: 1; }

/* Video review of a phone that's below the specs table */
.module-vid-review {
  margin-top: 30px; }
