/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
img, p { padding:0; margin:0; }
a img { border:0 }

/* HTML ELEMENTS */
body { font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;}

/* COMMON CLASSES */
.break { clear:both; }
@media screen and (min-width: 250px) and (max-width: 760px){
	#searchform div input {width: 100% !important;}
	#suggestions{width: 92.5% !important; margin-top: 5px !important;}

	/* SEARCHRESULTS */
	#searchresults {width: 100% !important;}
}
/* SEARCH FORM */
#searchform { margin:0px 2px; font-size:18px; }
#searchform div { color:#eeeeee; }
#searchform div input { font-size:18px; padding:5px; padding-left: 10px; width:518px; border-radius: 16px;font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 2px solid #ccc;box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff; }
#suggestions{ position: relative; left:17px; width:518px; z-index: 14; }

#searchform div input:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 2px 2px #bbb inset;  
}

#searchform div input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

#searchform div input:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

#searchform div input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 
/* SEARCHRESULTS */
#searchresults { border-width:1px; border-color:#919191; border-style:solid; width:518px; background-color:#a0a0a0; font-size:10px; }
#searchresults #mobile_name { margin: 4px; font-size: 20px !important; padding: 10px !important; vertical-align: middle !important; }
#searchresults a { display:block; background-color:#fff; clear:left; height:56px; text-decoration:none; color: black; }
#searchresults a:hover { background-color:#b7b7b7; color:#ffffff; }
#searchresults a img { float:left;  }
#searchresults a span.searchheading { display:block; font-size: 20px !important; font-weight:bold; padding-top: 5px; color:black !important; }
#searchresults a:hover span.searchheading { color:#ffffff; }
#searchresults a span { color:#555555; }
#searchresults a:hover span { color:red; }
#searchresults span.category { font-size:18px; margin:5px; display:block; color:#ffffff; }
#searchresults span.seperator { float:right; padding-right:15px; margin-right:5px;
			background-image:url(../images/shortcuts_arrow.gif); background-repeat:no-repeat; background-position:right; }
#searchresults span.seperator a { background-color:transparent; display:block; margin:5px; height:auto; color:#ffffff; }