/* Add here all your css styles (customizations) */


.main_sidebar_gradient {
  background: #f7f6f1;
  background: -moz-linear-gradient(top, #dedbd4 1%, #f7f6f1 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #dedbd4), color-stop(60%, #f7f6f1));
  background: -webkit-linear-gradient(top, #dedbd4 1%, #f7f6f1 60%);
  background: -o-linear-gradient(top, #dedbd4 1%, #f7f6f1 60%);
  background: -ms-linear-gradient(top, #dedbd4 1%, #f7f6f1 60%);
  background: linear-gradient(to bottom, #dedbd4 1%, #f7f6f1 60%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.brands {
  color: #708090 !important;
}
.brands:hover {
  color: black !important;
  font-size: 24px !important;
  width: 100% !important;
  background: rgba(255,255,255,0.6);
}
.price {
  font-weight: 700 !important;
  color: #999;
  font-size: 16px;
  width: 200px !important;
  height: 40px;
  border: 2px solid #999;
  border-radius: 4px;
  padding-left: 10px;
}
.price:hover {
  color: darkred;
  border: 2px solid green;
  border-radius: 8px;
}
.content_image_main_gradient {
  background: #3e5ba6;
  background: -moz-linear-gradient(top, #dedbd4 1%, #3e5ba6 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #dedbd4), color-stop(60%, #3e5ba6));
  background: -webkit-linear-gradient(top, #dedbd4 1%, #3e5ba6 60%);
  background: -o-linear-gradient(top, #dedbd4 1%, #3e5ba6 60%);
  background: -ms-linear-gradient(top, #dedbd4 1%, #3e5ba6 60%);
  background: linear-gradient(to bottom, #dedbd4 1%, #3e5ba6 60%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
li > a {
  color: white !important; font-weight: 600;
}
.row {
  margin-right: 0 !important;
}