/*Breadcrumbs v4

------------------------------------*/

.breadcrumbs-v4 {

  width: 100%;

  height: 300px;

  padding: 60px 0;

  position: relative;

  background-position: top left;

  background-repeat: no-repeat;

  background-image: url(../../smartphones/androidphones2.png);

  background-size:cover;

}



.breadcrumbs-v4:before {

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  content: " ";

  position: absolute;

  background: rgba(0,0,0,0.3);

}



.breadcrumbs-v4 .container {

  position: relative;

}



.breadcrumbs-v4 span.page-name {

  color: #fff;

  display: block;

  font-size: 18px;

  font-weight: 200;

  margin: 0 0 5px 3px;

}



.breadcrumbs-v4 h1 {

  color: #fff;

  font-size: 60px;

  font-weight: 500;

  margin: 0 0 20px;

  line-height: 150px;

  text-transform: uppercase;

  text-shadow: 4px 4px 6px black;

}



.breadcrumbs-v4 .breadcrumb-v4-in {

  padding-left: 0;

  margin-bottom: 0;

  list-style: none;

}



.breadcrumbs-v4 .breadcrumb-v4-in > li {

  color: #fff;

  font-size: 13px;

  display: inline-block;

}



.breadcrumbs-v4 .breadcrumb-v4-in > li + li:before {

  color: #fff;

  content: "\f105";

  margin-left: 7px;

  padding-right: 8px;

  font-family: FontAwesome;

}



.breadcrumbs-v4 .breadcrumb-v4-in li a {

  color: #fff;

}



.breadcrumbs-v4 .breadcrumb-v4-in li.active,

.breadcrumbs-v4 .breadcrumb-v4-in li a:hover {

  color: #18ba9b;

  text-decoration: none;

}



@media (max-width: 768px) {

  .breadcrumbs-v4 {

    text-align: center;

  }



  .breadcrumbs-v4 span.page-name {

    font-size: 18px;

  }



  .breadcrumbs-v4 h1 {

    font-size: 30px;

    margin-bottom: 10px;

  }

.content-md {
  padding-bottom: 0 !important;
}
.clear {
  clear: both;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black !important;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.current {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.current) {background-color: #ddd;}