/*Breadcrumbs v4
------------------------------------*/
/*html { -moz-transform: scale(0.8, 0.8); zoom: 0.8; zoom: 80%; }*/
.breadcrumbs-v4 {
  width: 100%;
  padding: 60px 0;
  position: relative;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../smartphones/androidphones2.png);
  background-size:cover;
}

.breadcrumbs-v4:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: rgba(0,0,0,0.3);
}

.breadcrumbs-v4 .container {
  position: relative;
}

.breadcrumbs-v4 span.page-name {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 200;
  margin: 0 0 5px 3px;
}

.breadcrumbs-v4 h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 200;
  margin: 0 0 20px;
  line-height: 50px;
  text-transform: uppercase;
}

.breadcrumbs-v4 .breadcrumb-v4-in {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.breadcrumbs-v4 .breadcrumb-v4-in > li {
  color: #fff;
  font-size: 13px;
  display: inline-block;
}

.breadcrumbs-v4 .breadcrumb-v4-in > li + li:before {
  color: #fff;
  content: "\f105";
  margin-left: 7px;
  padding-right: 8px;
  font-family: FontAwesome;
}

.breadcrumbs-v4 .breadcrumb-v4-in li a {
  color: #fff;
}

.breadcrumbs-v4 .breadcrumb-v4-in li.active,
.breadcrumbs-v4 .breadcrumb-v4-in li a:hover {
  color: #18ba9b;
  text-decoration: none;
}

@media (max-width: 768px) {
  .breadcrumbs-v4 {
    text-align: center;
  }

  .breadcrumbs-v4 span.page-name {
    font-size: 18px;
  }

  .breadcrumbs-v4 h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
#mobile_overview::-webkit-scrollbar { 
    display: none; 
}
#mobile_overview {
    height: 100%;
}

.shop-product-heading {
	background: #6fbbf2;
  background: -moz-linear-gradient(top, #0077cc 1%, #6fbbf2 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #0077cc), color-stop(60%, #6fbbf2));
  background: -webkit-linear-gradient(top, #0077cc 1%, #6fbbf2 60%);
  background: -o-linear-gradient(top, #0077cc 1%, #6fbbf2 60%);
  background: -ms-linear-gradient(top, #0077cc 1%, #6fbbf2 60%);
  background: linear-gradient(to bottom, #0077cc 1%, #6fbbf2 60%);
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.shop-product-heading h2 {
	color: white !important;
	margin-left: 10px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.6);
	font: 300 26px/47px 'Oswald', sans-serif;
	text-transform: none;
	margin: 0 0 0 10px !important;
}
.container_gradient {
background-color: #fff;
}
.inner_container_gradient {
background: #f2fcfe;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1c92d2, #f2fcfe);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.inner_container_gradient2 {
	background: #fff;  /* fallback for old browsers */
}

.item_text {
	font: 500 15px 'Google-Oswald', sans-serif;
	text-shadow: 1px 1px 0px rgba(255,255,255,.4)!important;
	word-wrap: break-word;
	color: black !important;
}
.item_text2 {
	font: 700 26px 'Google-Oswald',Arial, sans-serif !important;
	text-shadow: 1px 1px 1px rgba(255,255,255,.4)!important;
	letter-spacing: -1px !important;
	color: black !important;
}
.content-md {
	padding-left: 20px;
}
/*.container {
	margin-left: 20px !important;
}*/
.t-footer:hover h2 {
	background-color: white !important;
	color: black !important;
}
.expand1 { display: none !important;
}

/*@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
	}

	80% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}*/
.dropdown-toggle {
	font-family: 'Google-Oswald', Arial, sans-serif !important;
  color: black !important;
}
/*.dropdown-toggle:hover {
	animation: bounce 0.7s;
	color: darkred !important;
	font-weight: 600 !important;
	scale: ;
}*/

.article_header {
    margin-top: 10px;
    margin-left: 18px;
    margin-bottom: 20px;
    border-bottom: #E0E0E0 2px solid;
    background-color: #7587b1 !important;
    line-height: 25px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
    color: white;
    display: block;
    clear: both;
    padding-left: 6px !important; padding-top: 6px !important; padding-right: 6px; padding-bottom: 6px;
}
.related_device_header {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #E0E0E0 2px solid;
    background-color: #7587b1 !important;
    line-height: 25px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
    color: white;
    padding-right: 0 !important;
}
.sec_margin {
	margin-left: 10px;
  font-size: 16px;
}
.clear {
	clear: both;
}
.hover {
  background-color: ghostwhite;
  color: black;
}
.hoverfb {
  color: #3b5998 !important;
}
.hoverfb:hover {
  background-color: #3b5998 !important;
  color: white !important;
}
.hoverfb:hover .fa{
  color: white !important;
}
.hovergp {
  color: #d34836;
}
.hovergp:hover {
  background-color: #d34836 !important;
  color: white !important;
}
.hovergp:hover .fa{
  color: white !important;
}

.hovertw {
  color: skyblue;
}
.hovertw:hover{
  background-color: skyblue !important;
}
.hovertw:hover .fa{
  color: white !important;
}
.hoveryt {
  color: white;
}
.hoveryt:hover {
  background-color: red !important;
  color: white !important;
}
.hoveryt:hover .fa{
  color: white !important;
}
/*@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  80% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}*/
.dropdown-toggle {
  font-family: 'Google-Oswald', Arial, sans-serif !important;
}
/*.dropdown-toggle:hover {
  animation: bounce 0.9s;
  color: white !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  scale: ;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}*/
.dropdown {
  margin-top: -38px;
}
.nav {
  color: white !important; margin-top: -30px;
}
.sft {
  font-size: 28px !important; margin-top: 10px !important;
}
.rounded-2x {
  font-weight: 600; 
  background-color: #aac9da;
}
.rounded-2x:hover {
  color: black !important;
  background-color: #6694ae !important;
  font-weight: 700;
}
.shop-product-heading:hover .devicename {
  color: black !important;
}
@media screen and (min-width: 250px) and (max-width: 760px){
  #logo {
    display: none;
  }
  #social-icons {
    display: none;
  }
}
@media screen and (min-width: 350px) and (max-width: 760px){
  #logo {
    display: none;
  }
  #social-icons {
    display: none;
  }
  .dropdown {
    margin-top: 0px;
  }
  .nav {
    color: white !important; margin-top: 0px;
  }
  .sft {
    font-size: 22px !important; margin-top: 90px !important;
  }
  .filter-by-block {
    width: 100% !important;
  }
  .brands {
    margin-left: 10% !important;
  }
  .product-img {
    margin: 0 auto !important;
  }
  .navbar-bra {
    display: none;
  }
  .logo-header {
    display: none;
  }
  .devices_list {
    margin-left: 0px !important;
  }
  .device_box_v2 {
    margin-left: 30px;
  }
  .contentcontainer {
    height: 150px !important;
  }
}
.icon-bar {
  width: 200px !important;
}
.devices_list {
    height: 220px;
    border-radius: 14px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: central;
    overflow: hidden;
    margin-left: 25px;
}
.device_box_v2 {
  padding-top: 15px;
  margin-left: 5px;
}
.thumb-headline {
  font-size: 24px !important;
}
.price {
  font-weight: 700 !important;
  color: #999;
  font-size: 16px;
  height: 40px;
  border: 2px solid #999;
  border-radius: 4px;
  padding-left: 10px;
}
.price:hover {
  color: black;
  border: 2px solid black;
  border-radius: 8px;
}
.brands {
  color: #4F4F4F !important;
  font-size: 28px !important;
}
.brands:hover {
  color: black !important;
  font-size: 24px !important;
  width: 100% !important;
  background: rgba(255,255,255,0.6);
}
.price2:hover {
  color: white !important;
  background: rgba(0, 0, 0, 0.6) !important;
}

.mobile_name {
  width: 30%;
  text-align: center;
  margin-left: 10px;
  margin-top: -10px !important;
}
.mobile_name h3 {
  font: 400 25px/1.28 "Google-Oswald", Arimo, Arial, sans-serif;
  color: white;
  background: url(img/bg_pattern2.png) repeat;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  /*text-shadow: 2px 2px 3px black;*/
  text-transform: uppercase; }
.mobile_name:hover h3 {
  color: white !important;
  background: rgba(0, 0, 0, 0.6) !important;
}
.mobile_name h2 {
  font: 400 16px/1.28 "Google-Oswald", Arimo, Arial, sans-serif;
  color: white;
  background: url(img/bg_pattern2.png) repeat;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  text-transform: uppercase; }
.mobile_name:hover h2 {
  color: white !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.product-review {
  text-decoration: none;
  font-size: 10px !important;
  font-weight: 600 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.8);
  margin-top: -40px !important;
}
.product-review:hover {
  font-size: 10px !important;
  color: orange !important;
  text-decoration: none;
  font-weight: 600 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
/*.product-img:hover .img-hover {
  -webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}
.product-img .img-hover, .product-img:hover .img-hover {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.illustration-v2 .add-to-cart {
  left: 0;
  right: 0;
  top: 60%;
  z-index: 1;
  width: 140% !important;
  border: none;
  padding: 10px 0;
  font-size: 12px !important;
  margin-top: -20px;
  margin-left: -40px;
  text-align: center;
  position: absolute;
  visibility: hidden;
  text-transform: uppercase;
  color: white;
    background: url(../img/bg_pattern2.png) repeat;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}*/
.illustration-v2 .add-to-cart:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,0, 0.8) !important;
}
.device_header {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: #5692B6 1px solid;
    background-color: #7587b1 !important;
    box-shadow: 2px 2px 4px black;
    text-shadow: 1px 1px 2px black;
}
.device_header h1 {
    margin-top: 0;
    padding: 10px 10px 0px 10px;
    line-height: 28px;
    color: #FFF;
    font: 300 30px/28px Oswald;
    text-shadow: 1px 1px 2px black;
}
.device_image {
    margin-bottom: 20px;
}
.device_image {
    float: left;
    clear: none;
    margin-right: 30px;
}
.device_summary {
    color: #969696;
    margin-left: 20px;
    letter-spacing: 1px;
    font: 400 15px/28px Oswald;
}
ul.device_menu, ol.device_menu {
    padding: 0;
}
.device_menu {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #DFDCD5;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px black;
    /*text-shadow: 1px 1px 2px black;*/
    clear: both;
}

ul.device_menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    height: 49px;
    vertical-align: middle;
}

.device_menu li.active a {
    background-color: #7587b1;
    color: #fff;
}

.clear {
    clear: both;
    margin-top: 20px;
}
.img-responsive1 {
    display: block;
    height: auto;
    max-width: 100%;
}
.mobile-img:hover .img-hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.mobile-img .img-hover, .mobile-img:hover .img-hover {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
div {
    display: block;
}
ul.device_menu li a:hover {
    background-color: #000 !important;
    color: #fff !important;
}
ul.device_menu:hover {
    color: #fff !important;
}
.device_menu li.active a {
    background-color: #7587b1;
    color: #fff;
    pointer-events: none;
    cursor: default;
}
ul.device_menu li a {
    display: inline-block;
    color: black !important;
    text-align: center;
    padding: 12px 10px 10px 10px;
    line-height: 28px;
    font: 600 20px Oswald;
    
}
a:hover, a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.selected {
  background-color: #7587b1 !important;
}
.selected h1 {
  padding: 0;
  margin: 0;
    color: #FFF;
    font: 300 24px Oswald;
}
.selected a {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.selected:hover h1{
  color: #fff !important;
}
.rounded-2x {
  font-weight: 600; 
  background-color: #aac9da;
}
.rounded-2x:hover {
  color: black !important;
  background-color: #6694ae !important;
  font-weight: 700;
}
.sec_margin strong {
  font-size: 16px; font-weight: 700;
}
.article_header {
  box-shadow: 6px 6px 10px black !important;
  text-shadow: 1px 1px 1px #000 !important;
}
.sec_margin strong {
  text-shadow: 1px 1px 1px #999 !important;
}
.item_text2:hover {
  color: #cc0000 !important;
}
.language .currency {
  color: black !important;
}

.price {
  font-weight: 700 !important;
  color: #999;
  font-size: 16px;
  width: 200px !important;
  height: 40px;
  border: 2px solid #999;
  border-radius: 4px;
  padding-left: 10px;
}
.price:hover {
  color: black;
  border: 2px solid black;
  border-radius: 8px;
}
li > a {
  color: rgba(49, 49, 49, 0.73) !important;
  font-family: 'Open Sans', sans-serif !important;
}
.brands {
  color: #4F4F4F !important;
  font-size: 24px !important;
  font-weight: 600;
  text-decoration: none; 
  margin-left: 0 !important;
}
.brands:hover {
  color: black !important;
  font-size: 24px !important;
  width: 100% !important;
  background: rgba(255,255,255,0.6);
}
.maincontainer {
  margin-top: 5px;
  overflow: hidden;
  background-color: white;
  width: 83.5%;
  height: 350px;
  float: left;
}
.contentcontainer {
  background-color: #FFC0CB;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 350px;
}
.contentcontainer:hover {
  background-color: #FFC0CB;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 350px;
}
.content_image_main {
  width: 60%;
  float: left;
  height: 350px;
  border: 1px dotted;
  border-color: white;
  z-index: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 350px) and (max-width: 760px){
  .maincontainer {
    width: 100% !important;
    margin-left: 8px;
  }
}

.content_image_main_gradient {
  background-color: #6694ae;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main_sidebar_gradient {
  background: rgba(225, 223, 255, 0.36) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.price2 {
  visibility: hidden;
}
.second_image {
  opacity: 0;
}
.content_image_main:hover {
  background: rgba(255,80,180,0.8);
  background-size: 110% 110%;
  background-repeat: repeat;
  background-position: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.content_image_main:hover .price2{
  visibility: visible;
  left: 35% !important;
    right: 0;
    margin-top: 190px;
    margin-bottom: 20px;
    margin-left: 35% !important;
    width: 30%;
    color: #fff;
    border: none;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    /*background: rgba(255,255,255,0.8);*/
    background: url(img/bg_pattern2.png) repeat;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.price3 {
  visibility: hidden;
}
.content_image_main:hover .price3{
  visibility: visible;
  left: 25% !important;
    right: 0;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 25% !important;
    width: 50%;
    color: #fff;
    border: none;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    /*background: rgba(255,255,255,0.8);*/
    background: url(img/bg_pattern2.png) repeat;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.content_image:hover .price3{
  visibility: visible;
  left: 35%;
    right: 0;
    margin-top: 30px;
    margin-left: 26%;
    width: 50%;
    color: #fff;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: url(img/bg_pattern2.png) repeat;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-transition: all 0.7s ease;
}
.price3:hover {
  color: white !important;
  background: rgba(0, 0, 0, 0.6) !important;
}
/*.content_image_main > img:hover .price2 {
  visibility: visible;
  left: 0;
    right: 0;
    margin-top: 180px;
    width: 100%;
    color: #555;
    border: none;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(255,255,255,0.8);
}*/

.content_image {
  width: 40%;
  float: left;
  height: 175px;
  border: 1px dotted;
  border-color: white;
  z-index: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.content_image:hover .price2{
  visibility: visible;
  left: 35%;
    right: 0;
    margin-top: 40px;
    margin-left: 38%;
    width: 25%;
    color: #fff;
    border: none;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: url(img/bg_pattern2.png) repeat;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-transition: all 0.7s ease;
}
.content_image:hover {
  background: rgba(202,82,182,0.8);
  background-size: 110% 110%;
  background-repeat: repeat;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.price2:hover {
  color: white !important;
  background: rgba(0, 0, 0, 0.6) !important;
}

.mobile_name {
  width: 30%;
  text-align: center;
  margin-left: 10px;
  margin-top: -10px !important;
}
.mobile_name h3 {
  font: 400 25px/1.28 "Google-Oswald", Arimo, Arial, sans-serif;
  color: white;
  background: url(img/bg_pattern2.png) repeat;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  /*text-shadow: 2px 2px 3px black;*/
  text-transform: uppercase; }
.mobile_name:hover h3 {
  color: white !important;
  background: rgba(0, 0, 0, 0.6) !important;
}
.mobile_name h2 {
  font: 400 16px/1.28 "Google-Oswald", Arimo, Arial, sans-serif;
  color: white;
  background: url(img/bg_pattern2.png) repeat;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  text-transform: uppercase; }
.mobile_name:hover h2 {
  color: white !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.secondary_container {
  margin-top: 5px;
  overflow: hidden;
  background-color: white;
  width: 75%;
  height: 1784px;
  float: left;
  border: 1px solid black;
}
.secondary_container_content1 {
  width: 25%;
  float: left;
  border: 1px solid black;
  height: auto;
}
.secondary_container_content2 {
  width: 25%;
  float: left;
  border: 1px solid black;
  height: auto;
}
.secondary_container_content3 {
  width: 25%;
  float: left;
  border: 1px solid black;
  height: auto;
}

@media screen and (min-width: 350px) and (max-width: 760px){
  .secondary_container_content1 {
  width: 33%;
  float: left;
  border: 1px solid black;
  height: auto;
  margin-left: 8px;
}
  .secondary_container_content2 {
  width: 32%;
  float: left;
  border: 1px solid black;
  height: auto;
  margin-left: 5px;
  
}
  .secondary_container_content3 {
  width: 32%;
  border: 1px solid black;
  height: auto;
  margin-left: 3px;
}
}
.product-review {
  text-decoration: none;
  font-size: 11px !important;
  font-weight: 600 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.8);
  margin-top: -40px !important;
  height: 38px;
}
.product-review:hover {
  font-size: 11px !important;
  color: yellow !important;
  text-decoration: none;
  font-weight: 600 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
.product-img:hover .img-hover {
  -webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}
.product-img .img-hover, .product-img:hover .img-hover {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.illustration-v2 .add-to-cart {
  left: 0;
  right: 0;
  top: 60%;
  z-index: 1;
  width: 165% !important;
  border: none;
  padding: 10px 0;
  font-size: 12px !important;
  margin-top: -20px;
  margin-left: -40px;
  text-align: center;
  position: absolute;
  visibility: hidden;
  text-transform: uppercase;
  color: white;
    background: url(img/bg_pattern2.png) repeat;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.illustration-v2 .add-to-cart:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,0, 0.8) !important;
}
.hover {
  background-color: ghostwhite;
  color: black;
}
.hoverfb {
  color: #3b5998 !important;
}
.hoverfb:hover {
  background-color: #3b5998 !important;
  color: white !important;
}
.hoverfb:hover .fa{
  color: white !important;
}
.hovergp {
  color: #d34836;
}
.hovergp:hover {
  background-color: #d34836 !important;
  color: white !important;
}
.hovergp:hover .fa{
  color: white !important;
}

.hovertw {
  color: skyblue;
}
.hovertw:hover{
  background-color: skyblue !important;
}
.hovertw:hover .fa{
  color: white !important;
}
.hoveryt {
  color: white;
}
.hoveryt:hover {
  background-color: red !important;
  color: white !important;
}
.hoveryt:hover .fa{
  color: white !important;
}
/*@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  80% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}*/
.dropdown-toggle {
  font-family: 'Google-Oswald', Arial, sans-serif !important;
}
/*.dropdown-toggle:hover {
  animation: bounce 0.9s;
  color: white !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  scale: ;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}*/
.dropdown {
  margin-top: -38px;
}
.nav {
  color: white !important; margin-top: 0 !important;
}
.sft {
  font-size: 28px !important; margin-top: 10px !important;
}
.rounded-2x {
  font-weight: 600; 
  background-color: #7587b1 !important;
}
.rounded-2x:hover {
  color: black !important;
  background-color: tomato !important;
  font-weight: 700;
}
@media screen and (min-width: 250px) and (max-width: 760px){
  #logo {
    display: none;
  }
  #social-icons {
    display: none;
  }
}
@media screen and (min-width: 350px) and (max-width: 760px){
  #logo {
    display: none;
  }
  #social-icons {
    display: none;
  }
  .dropdown {
    margin-top: 0px;
  }
  .nav {
    color: white !important; margin-top: 0px;
  }
  .sft {
    font-size: 22px !important; margin-top: 90px !important;
  }
  .filter-by-block {
    width: 100% !important;
  }
  .brands {
    margin-left: 10% !important;
  }
  .product-img {
    margin: 0 auto !important;
  }
  .navbar-bra {
    display: none;
  }
  .logo-header {
    display: none;
  }
  .devices_list {
    margin-left: 0px !important;
  }
  .device_box_v2 {
    margin-left: 30px;
  }
  .contentcontainer {
    height: 150px !important;
  }
  .content {
    padding-right: 0 !important;
  }
  .top-margin {
    margin-top: 0 !important;
  }
  .all-smartphones {
    width: 100%;
    height: 100px !important;
    padding-right: 0;
      padding-top: 10px;
  }
}
.icon-bar {
  width: 200px !important;
}
.devices_list {
    height: 220px;
    border-radius: 15px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: central;
    overflow: hidden;
    margin-left: 25px;
}
.device_box_v2 {
  padding-top: 15px;
  /*margin-left: 20px;*/
}
.thumb-headline {
  font-size: 24px !important;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black !important;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.current {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.current) {background-color: #ddd;}
.row {
  margin-right: 0 !important;
}
.top-margin {
  margin-top: 10px;
}
.all-smartphones {
  width: 100%; 
  height: 200px;
}
.img-responsive {
  display: inline-block;
  height: 155px;
}
.panel-body {
  padding: 0;
}

.panel {
  border-radius: 8px; 
  border-color: white !important;
}
.panel div {
  text-align: center;
}
.panel-collapse {
  //border: 4px solid; 
  border-radius: 8px; 
  border-color: darkgray;
}
.panel-title {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.panel-body {
  border-radius: 5px;
}
.panel-title a {
  color: white !important;text-shadow: 2px 2px 4px black !important;
}